.d-inline-block {
  display: inline-block;
  width: 600px;
  margin: 0;
  padding: 0;
  /* box-sizing: content-box; */
  float: left;
  }

.font-size-30px {
  font-size: 30px
}

.font-size-15px {
  font-size: 15px
}

.text-red {
  color: #e22626;
}

.font-robotto {
  font-family: 'Roboto', sans-serif;
}

.font-slabo {
  font-family: 'Slabo 27px', serif;
}

.font-robotto-condensed {
  font-family: 'Roboto Condensed', sans-serif;
}
