<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Document</title>
  </head>
  <body>
    Create new services
    <form method='post'>
      <label>Name</label>
      <input type="text" name='name'>

      <label>YOB</label>
      <input type="text" name='yob'>

      <label>Phone number</label>
      <input type="text" name='phone'>

      <label> Gender </label>
      <input type="button" name='gender'>

      <input type="Submit" value='Add data'>
    </form>
  </body>
</html>
